@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


/*=================================
  Header styling starts here
=================================*/

h1 {
    text-align: center;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.carousel {
    position: relative;
}

.slider {
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    display: flex;
}

.slide {
    width: 100%;
    display: none;
}

@keyframes expand-next {
    0% {
        display: flex;
        transform: translateX(-0);
    }
    100% {
        display: none;
        transform: translateX(-100%);
    }
}

@keyframes expand-prev {
    0% {
        display: flex;
        transform: translateX(0);
    }
    100% {
        display: none;
        transform: translateX(100%);
    }
}

@keyframes increase {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.active {
    display: flex;
    animation: increase 2s;
    transition: all 5s;
}

.expand-next {
    animation: expand-next 5s;
    transition: all 5s;
}

.expand-prev {
    animation: expand-prev 5s;
    transition: all 5s;
}

.prev,
.next {
    width: 20%;
    height: 500px;
    display: flex;
    position: absolute;
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 21px;
    font-weight: 900;
    text-indent: -9999px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    color: #00f;
}

.prev {
    top: 0;
    left: 0;
}

.prev::before {
    content: '\f053';
    text-indent: 0;
    float: right;
}

.next {
    top: 0;
    right: 0;
}

.next::before {
    content: '\f054';
    text-indent: 0;
    float: right;
}

.buttons {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.img {
    padding: 5px;
    border: none;
    margin-right: 2%;
    background-color: transparent;
    text-indent: -9999px;
}

.img::before {
    color: #f00;
    font-family: 'FontAwesome';
    font-size: 21px;
    font-weight: 900;
    content: '\f111';
    text-indent: 0;
    float: right;
}

.btn-active::before,
.img:hover::before {
    color: #00f;
}

.img:last-child {
    margin-right: 0;
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}